* {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
.app {
  text-align: center;
  display: flex;
  flex-direction: row;

}
.app-wrap {

}
.dropdown-wrap {
  display: flex;
  flex:1;
  justify-content: center;
  align-items: center;
}
.dropdown {
  display: flex;
  width: 200px;
  height: 35px;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  border-bottom: 2px #9dc9ff solid;
}
.remove-btn {
  width: 12px;
  padding: 6px;
  cursor: pointer;
}
.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}
.drop-down {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
}
.country-list {
  box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
  border-radius: 0 0 4px 4px;
}
.drop-down-option {
  text-align: left;
  padding: 10px 20px;
  border: none;
}
.drop-down-instigator {
  text-align: left;
  font-size: 14px;
  padding-bottom: 6px;
  font-weight: lighter;
  color: #666;
  font-weight: bold;
}
.drop-down-option:first-of-type {
  padding-top: 12px;
}
.drop-down-option:last-of-type {
  border-radius: 0 0 4px 4px;
}
.drop-down-option {
  padding-left: 16px;
}
.drop-down-option:hover {
  background: #2c95ff;
  color: white;
}
.placeholder {
  font-size: 12px;
  font-weight: normal;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
